.image{ 
    height: 70rem; background-size:cover; width:100%;
background-image:url("C:\typescript\HospitalManagement\src\assets\images\Capture.PNG");
background-position:50% 50%;background-repeat: no-repeat;background-attachment: fixed;top:0px; bottom: 0px;
height: 100%;
background-repeat: repeat;
position: absolute;
overflow-x: scroll;
z-index:-1; 
}
.btn{
    margin-left:10px;
    min-width: 120px;
    max-width: 120px;
   }
   h1{
    text-align:center;
}