
<div class="image">
<div style="padding: 20px;">
  <h1 style="color: blue">Hospital Management</h1>
 <!--<nav>
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">AddPatients</a>
    <a routerLink="physicianDetails" class="btn btn-primary active" role="button" routerLinkActive="active">AddPhysicians</a>
    <a routerLink="patientsDiagnosis" class="btn btn-primary active" role="button" routerLinkActive="active">AddPatientDiagnosis</a>
    <a routerLink="patientsList" class="btn btn-primary active" role="button" routerLinkActive="active">PatientsList</a>
    <a routerLink="physicianList" class="btn btn-primary active" role="button" routerLinkActive="active">PhysiciansList</a>
    <a routerLink="search" class="btn btn-primary active" role="button" routerLinkActive="active">SearchPhysicians</a>
    
   </nav>-->
  
  <router-outlet></router-outlet>
 </div>
</div> 
