
    

.btn{
    margin-top:10px;
    margin-left:10px;
    min-width: 120px;
    max-width: 120px;
    background-color:#e7e7e7;
   }

   .container{
     text-align:center;
     margin-top: 20px;
     color:purple;
     
   }