
<body>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
 
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-blue " (click)="logout()" routerLink="/">Logout</a>
            </li>
        </ul>
    </div>
 
<div Style="text-align:center" class="container">
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">AddPatients</a>
    <a routerLink="physicianDetails" class="btn btn-primary active" role="button" routerLinkActive="active">AddPhysicians</a>
    <a routerLink="patientsDiagnosis" class="btn btn-primary active" role="button" routerLinkActive="active">AddPatientDiagnosis</a>
    <a routerLink="physicianList" class="btn btn-primary active" role="button" routerLinkActive="active">PhysiciansList</a>
    <a routerLink="search" class="btn btn-primary active" role="button" routerLinkActive="active">SearchPhysicians</a> 
    <a routerLink="patientsList" class="btn btn-primary active" role="button" routerLinkActive="active">PatientsList</a>
    <a id = "logout" routerLink="/Login" class="btn btn-primary active " role="button" routerLinkActive="active">Logout</a>
</div>
<div class="container">
    <h3 >Welcome to Hospital Management</h3>
</div>
<br/>
<br/>
</body>


