<h3></h3> 
<div class="center">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Patient ID</th>
                <th>Patient FirstName</th>
                <th>Patient LastName</th>
            </tr>
        </thead>
        <tbody>

<tr *ngIf="patient">
                <td>{{patient.id}}</td>
                <td>{{patient.firstName}}</td>
                <td>{{patient.lastName}}</td>
</tr>
        </tbody>
        </table>
        
</div>
<div>
    <span class="button is-small btn-info" (click)="editPatient(patient)">Edit</span>
    <span class="button is-small btn-info" (click)="deletePatient()">Delete</span>
    <hr />
</div>

<button class = "btn btn-primary active" (click)="btnClick()">Back</button>




