h3{
    text-align:center;

}
h4{
    text-align:center;
}
.btn
{   margin-top:10px;
    margin-left:10px;
    min-width: 120px;
    max-width: 120px;
}

.center{
    display:flex;
    justify-content:center;
    text-align:center;
}