
<h3 style="color:saddlebrown">PhysicianDetails</h3>
<div class="center"> 
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()" #physicianForm="ngForm">
    <div class="form-group">
      <label for="physicianFirstName"><strong style="color:purple">Physician FirstName</strong> </label>
      <input type="text" class="form-control" id="physicianFirstName" required [(ngModel)]="physician.physicianFirstName" name="physicianFirstName" #physicianFirstName="ngModel" [class.is-invalid]="physicianFirstName.invalid && physicianFirstName.touched">
      <small class="text-danger" [class.d-none]="physicianFirstName.valid || physicianFirstName.untouched">FirstName is required</small>
    </div>

    <div class="form-group">
        <label for="physicianLastName"><strong style="color:purple">Physician LastName</strong></label>
        <input type="text" class="form-control" id="physicianLastName" required [(ngModel)]="physician.physicianLastName" name="physicianLastName" #physicianLastName="ngModel" [class.is-invalid]="physicianLastName.invalid && physicianLastName.touched">
        <small class="text-danger" [class.d-none]="physicianLastName.valid || physicianLastName.untouched">LastName is required</small>
      </div>

      <div class="form-group">
        <label for="physiciandepartment"><strong style="color:purple"> Department</strong></label>
        <select name="physiciandepartment" class="form-control"id="physiciandepartment" required [(ngModel)]="physician.physiciandepartment" #physiciandepartment="ngModel"  [class.is-invalid]="physicianLastName.invalid && physicianLastName.touched">
            <option value="Anesthesiology">Anesthesiology</option>
            <option value="Dermatology">Dermatology</option>
            <option value="Neurology">Neurology</option>
            <option value="Gynecology">Gynecology</option>
            <option value="Cardiology">Cardiology</option>
            <option value="Urology">Urology</option>
        </select>
        <small class="text-danger" [class.d-none]="physiciandepartment.valid || physiciandepartment.untouched">Department is reuired</small>
      </div>

      <div class="form-group">
        <label for="qualification"><strong style="color:purple">Physician Qualification</strong></label>
        <select name="qualification" class="form-control"id="qualification" required [(ngModel)]="physician.qualification" #qualification="ngModel"  [class.is-invalid]="qualification.invalid && qualification.touched">
            <option value="MBBS">MBBS</option>
            <option value="BMBS">BMBS</option>
            <option value="MBChB">MBChB</option>
            <option value="MBBCh">MBBCh</option>
            <option value="MD">MD</option>
            <option value="RMP">RMP</option>
        </select>
        <small class="text-danger" [class.d-none]="qualification.valid || qualification.untouched">Qualification is reuired</small>
      </div>
     
         <div class="form-group">
            <label for="yearsofExperience"><strong style="color:purple">YearsOfExperience</strong></label>
            <input type="tel" class="form-control" id="yearsofExperience" required [(ngModel)]="physician.yearsofExperience" name="yearsofExperience" #yearsofExperience="ngModel" [class.is-invalid]="yearsofExperience.invalid && yearsofExperience.touched">
            <small class="text-danger" [class.d-none]="yearsofExperience.valid || yearsofExperience.untouched">Experience is required</small>
          </div>
          <div class="form-group">
            <label for="state"><strong style="color:purple">State</strong></label>
            <select name="state" class="form-control"id="state" required [(ngModel)]="physician.state" #state="ngModel"  [class.is-invalid]="state.invalid && state.touched">
                <option value="AndhraPradesh">AndhraPradesh</option>
                <option value="TamilNadu">TamilNadu</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
            </select>
            <small class="text-danger" [class.d-none]="state.valid || state.untouched">State is reuired</small>
          </div>

          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="insurancePlan" name="insurancePlan" #insurancePlan="ngModel" [(ngModel)]="physician.insurancePlan" [class.is-invalid]="insurancePlan.invalid && insurancePlan.touched"> <label class="form-check-label" >
               <strong style="color:purple">InsurancePlan</strong>
           </label>
           <small class="text-danger" [class.d-none]="insurancePlan.invalid || insurancePlan.untouched"></small>
       </div>
  
   
    
    <button type="submit" class="btn btn-success" [disabled]="physicianForm.form.invalid">Submit</button>
    <button type="Reset" class="btn btn-primary">Reset</button>
    <button class = "btn btn-primary active" (click)="btnClick()">Back</button>
  </form>
</div>
</div> 
  
<div [hidden]="!submitted">
  <h4 style="color:rgb(40, 88, 90)">You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newPhysician()">Add</button>
</div> 

