<h3 style="color:saddlebrown">Patient Diagnosis Details </h3>
<div class="center">
<div [hidden]="submitted" style="width: 300px;">
    <form (ngSubmit)="onSubmit()" #diagnosisform="ngForm">  

        <div class="block">
          <label for="patient"><strong style="color:purple">Patient Id</strong></label>
          <br>
          <select class="custom-select" name="patientId" required [(ngModel)]="patientDiagnosis.patientId" #patientId="ngModel" [class.is-invalid]="patientId.invalid && patientId.touched">
              <option  type="number"  *ngFor="let patient of patients | async" [value]=patient.id>{{patient.id}}</option>
          </select>
          <small class="text-danger" [class.d-none]="patientId.valid || patientId.untouched">Patient Id is mandatory</small>
      </div>
      
        <div class="form-group">
            <label for="symptoms"><strong style="color:purple">Symptoms</strong></label>
            <input type="text" class="form-control" id="symptoms" required [(ngModel)]="patientDiagnosis.symptoms" name="symptoms" #symptoms="ngModel" [class.is-invalid]="symptoms.invalid && symptoms.touched">
            <small class="text-danger" [class.d-none]="symptoms.valid || symptoms.untouched">symptoms is required</small>           
        </div>
 
        <div class="form-group">
            <label for="diagnosisProvided"><strong style="color:purple">Diagnosis Provided></strong></label>
            <input type="text" class="form-control" id="diagnosisProvided" required [(ngModel)]="patientDiagnosis.diagnosisProvided" name="diagnosisProvided" #diagnosisProvided="ngModel" [class.is-invalid]="diagnosisProvided.invalid && diagnosisProvided.touched">
            <small class="text-danger" [class.d-none]="diagnosisProvided.valid || diagnosisProvided.untouched">Diagnosis Provided  is required</small>
        </div>
        <div class="block">
          <label for="patient"><strong style="color:purple">Administered BY</strong></label>
          <br>
          <select class="custom-select" name="physicianId" required [(ngModel)]="patientDiagnosis.physicianId" #physicianId="ngModel" [class.is-invalid]="physicianId.invalid && physicianId.touched">
            <option value="undefined" selected disabled>---Select---</option>
              <option  type="number"  *ngFor="let physician of physicians | async" >{{physician.physicianFirstName}} {{physician.physicianLastName}}</option>
          </select>
          <small class="text-danger" [class.d-none]="physicianId.valid || physicianId.untouched">Administrator Name is mandatory</small>
      </div>
    
        <div class="form-group">
            <label for="dateOfDiagnosis"><strong style="color:purple">Date Of Diagnosis</strong></label>
            <input type="date" class="form-control" id="dateOfDiagnosis" required [(ngModel)]="patientDiagnosis.dateOfDiagnosis" name="dateOfDiagnosis" #dateOfDiagnosis="ngModel" [class.is-invalid]="dateOfDiagnosis.invalid && dateOfDiagnosis.touched">
            <small class="text-danger" [class.d-none]="dateOfDiagnosis.valid || dateOfDiagnosis.untouched">dateOfDiagnosis is required</small>
        </div>
 
        <div class="form-group">
            <label><strong style="color:purple">Follow Up</strong></label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="followup" value="YES" [(ngModel)]="patientDiagnosis.followup" #followup="ngModel" required > 
              <label class="form-check-label">Yes</label>
            </div>
 
            <div class="form-check">
              <input class="form-check-input" type="radio" name="followup" value="NO" [(ngModel)]="patientDiagnosis.followup" #followup="ngModel" required>
              <label class="form-check-label">No</label>
            </div>
 
            <div *ngIf="followup.invalid && followup.untouched" class="text-danger"> 
              Follow Up is required
            </div>
        </div>
        <div class="form-group">
          <label><strong style="color:purple">Date Of FollowUp</strong></label>
          <input type="date" class="form-control" id="followUpDate" required [(ngModel)]="patientDiagnosis.followUpDate" name="followUpDate" #followUpDate="ngModel" [class.is-invalid]="followUpDate.invalid && followUpDate.touched">
          <small class="text-danger" [class.d-none]="followUpDate.valid || followUpDate.untouched">Date Of FollowUp is required</small>      
      </div>
  
      <div class="form-group">
          <label for="billAmount"><strong style="color:purple">Bill Amount</strong></label>
          <input type="number" class="form-control" id="billAmount" required [(ngModel)]="patientDiagnosis.billAmount" name="billAmount" #billAmount="ngModel" [class.is-invalid]="billAmount.invalid && billAmount.touched">
          <small class="text-danger" [class.d-none]="billAmount.valid || billAmount.untouched">Bill Amount is required</small>
      </div>
  
      <div class="form-group">
          <label for="cardNumber"><strong style="color:purple">Card Number</strong></label>
          <input type="number" class="form-control" id="cardNumber" required [(ngModel)]="patientDiagnosis.cardNumber" name="cardNumber" #cardNumber="ngModel" [class.is-invalid]="cardNumber.invalid && cardNumber.touched">
          <small class="text-danger" [class.d-none]="cardNumber.valid || cardNumber.untouched">Card Number is required </small>
      </div>

      <div class="form-group">
          <label for="paymentMode"><strong style="color:purple">Mode Of Payment</strong></label>
          <input type="text" class="form-control" id="paymentMode" required [(ngModel)]="patientDiagnosis.paymentMode" name="paymentMode" #paymentMode="ngModel" [class.is-invalid]="paymentMode.invalid && paymentMode.touched">
          <small class="text-danger" [class.d-none]="paymentMode.valid || paymentMode.untouched">Mode Of Payment is required </small>
      </div>

  <button type="submit" class="btn btn-success" [disabled]="diagnosisform.form.invalid">Save Details</button>
  <button type="Reset" class="btn btn-primary">Reset</button>
  <button class = "btn btn-primary active" (click)="btnClick()">Back</button>
</form>
</div>
</div>
<div [hidden]="!submitted">
  <h4 style="color:rgb(40, 88, 90)">You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newPatientDiagnosis()">New Patient Diagnosis</button>
</div>
