
<head>
    <style>
 
        .navbar {
            background-color:rgb(135, 170, 222) ;
            
        }
 
        button {
            background-color: #ff6347
        }
 
        .footer {
            height: 70px;
            position: relative;
            width: 100%;
            bottom: 0px;
            background-color: #ff6347;
            color: white;
        }
        header {
            height: 70px;
        }
        .container{
            background:url("myimage")no-repeat center center fixed;
            -webkit-background-size:cover;
            -moz-background-size:cover;
            -o-background-size:cover;
            background-size:cover;
             
        }
    </style>
</head>   
<header>
    <nav class="navbar navbar-expand-sm navbar-dark  ">
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
 
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link text-white " routerLink="/Login/">Login</a>
                </li>
            </ul>
        </div>
    </nav>
  </header>
  <h3 >Login to go to HospitalManagement </h3>

  
  