/**.image{ 
    height: 70rem; background-size:cover; width:100%;
background-image:url("C:\typescript\HospitalManagement\src\assets\images\final.jpg");
background-position:50% 50%;background-repeat: no-repeat;background-attachment: fixed;top:0px; bottom: 0px;
height: 100%;
background-repeat: repeat;
position: absolute;
overflow-x: scroll;
z-index:-1; 
}**/
h3{
    text-align:center;
    color:rgb(139, 15, 139);
    margin-top:30px;
    margin-left:10px;
    margin-right:10px;
}