<h3 style="color:saddlebrown">Enroll Patient</h3>
<div class="center"> 
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()" #patientForm="ngForm">
    <div class="form-group">
      <label for="firstName"><strong style="color:purple"> First Name</strong></label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="patient.firstName" name="firstName" #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.touched">
      <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">FirstName is required</small>
    </div>

    <div class="form-group">
        <label for="lastName"><strong style="color:purple">Last Name</strong></label>
        <input type="text" class="form-control" id="lastName" required [(ngModel)]="patient.lastName" name="lastName" #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched">
        <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">LastName is required</small>
      </div>

      <div class="form-group">
        <label for="password"><strong style="color:purple">Password</strong></label>
        <input type="password" class="form-control" id="password" required [(ngModel)]="patient.password" name="password" #password="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [class.is-invalid]="password.invalid && password.touched">
        <div *ngIf="password.errors && (password.invalid && password.touched)">
            <small class="text-danger" *ngIf="password.errors.required">Password is required</small>      
            <small class="text-danger" *ngIf="password.errors.pattern">Password must folllow pattern</small>      
          </div>
        
      </div>

      <div class="form-group">
        <label for="dob"><strong style="color:purple">Dob</strong></label>
        <input type="date" class="form-control" id="dob" required [(ngModel)]="patient.dob" name="dob" #dob="ngModel" [class.is-invalid]="dob.invalid && dob.touched">
        <div *ngIf="dob.errors && (dob.invalid && dob.touched)">
            <small class="text-danger" *ngIf="dob.errors.required">Date of Birth is required</small>
            <small class="text-danger" *ngIf="dob.errors.pattern">Date of Birth must be a valid date in the format YYYY-MM-DD</small>
        </div>

      </div>
      <div class="form-group">
        <label for="email"><strong style="color:purple">Email</strong></label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="patient.email" name="email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
        <div *ngIf="email.errors && (email.invalid && email.touched)">
            <small class="text-danger" *ngIf="email.errors.required">Email is required</small>      
            <small class="text-danger" *ngIf="email.errors.email">Email must be a valid email address</small>
        </div>
        
      </div>
      <div class="form-group">
        <label for="contactNumber"><strong style="color:purple">Contact Number</strong></label>
        <input type="number" #contactNumber="ngModel" pattern="^\d{10}$" [class.is-invalid]="contactNumber.invalid && contactNumber.touched"
        class="form-control" name="contactNumber" [(ngModel)]="patient.contactNumber" required>
        <div *ngIf="contactNumber.errors && (contactNumber.invalid && contactNumber.touched)">
           <small class="text-danger" *ngIf="contactNumber.errors.required">Phone number is required</small>      
           <small class="text-danger" *ngIf="contactNumber.errors.pattern">Phone number must be 10 digits</small>      
         </div>
        </div>

         <div class="form-group">
            <label for="state"><strong style="color:purple">State</strong></label>
            <input type="text" class="form-control" id="state" required [(ngModel)]="patient.state" name="state" #state="ngModel" [class.is-invalid]="state.invalid && state.touched">
            <small class="text-danger" [class.d-none]="state.valid || state.untouched">State is required</small>
          </div>

          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="insurancePlan" name="insurancePlan" #insurancePlan="ngModel" [(ngModel)]="patient.insurancePlan" [class.is-invalid]="insurancePlan.invalid && insurancePlan.touched"> <label class="form-check-label" >
              <strong style="color:purple">InsurancePlan</strong>
           </label>
           <small class="text-danger" [class.d-none]="insurancePlan.invalid || insurancePlan.untouched"></small>
       </div>
   
    
    <button type="submit" class="btn btn-success" [disabled]="patientForm.form.invalid">Submit</button>
    <button type="Reset" class="btn btn-primary">Reset</button>
    <button class = "btn btn-primary active" (click)="btnClick()">Back</button>
    
  </form>
</div>
</div>
 
<div [hidden]="!submitted">
  <h4 style="color:rgb(40, 88, 90)">You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newPatient()">Add</button>
</div>

