<h3 style="color:saddlebrown">Physician List</h3>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Department</th>
                <th>Qualification</th>
                <th>Experience</th>
                <th>State</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let physician of physicians | async|paginate: { itemsPerPage: count, currentPage: p }">
                <td>{{physician.physicianId}}</td>
                <td>{{physician.physicianFirstName}}</td>
                <td>{{physician.physicianLastName}}</td>
                <td>{{physician.physiciandepartment}}</td>
                <td>{{physician.qualification}}</td>
                <td>{{physician.yearsofExperience}}</td>
                <td>{{physician.state}}</td>
            </tr>
        </tbody>
    </table>
    <div class="text-right">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
</div>
<button class = "btn btn-primary active" (click)="btnClick()">Back</button>
