<h3 style="color:saddlebrown"> Physician Search</h3>
<div class="center">
<div style="width: 300px;">
  <form (ngSubmit)="onSubmit()" >
    <div class="form-group">
      <label for="physiciandepartment"><strong style="color:purple">PhysicianDepartment</strong></label>
      <input type="text" class="form-control" id="physiciandepartment" required [(ngModel)]="physiciandepartment" name="physiciandepartment">
    </div>
    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
      <button type="Reset" class="btn btn-secondary">Reset</button>
    </div>
    <div class="form-group">
      <label for="state"><strong style="color:purple">PhysicianState</strong></label>
      <input type="text" class="form-control" id="state" required [(ngModel)]="state" name="state">
    </div>
    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
      <button type="Reset" class="btn btn-secondary">Reset</button>
    </div>
  </form>
</div>
</div>
<br/>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Physician Id</th>
              <th>Physician FirstName</th>
              <th>Physician LastName</th>
              <th>physiciandepartment</th>
              <th>Qualification</th>
              <th>Experience</th>
              <th>State</th>
              <th>InsurancePlan</th>
            </tr>
          </thead>
    <tbody>
      <tr *ngFor="let physician of physicians">
        <td>{{physician.physicianId}}</td>
        <td>{{physician.physicianFirstName}}</td>
        <td>{{physician.physicianLastName}}</td>
        <td>{{physician.physiciandepartment}}</td>
        <td>{{physician.qualification}}</td>
        <td>{{physician.yearsofExperience}}</td>
        <td>{{physician.state}}</td>
        <td>{{physician.insurancePlan}}</td>
      </tr>
    </tbody>
    </table>
    </div>
    <button class = "btn btn-primary active" (click)="btnClick()">Back</button>