<h3 style="color:saddlebrown">Patient List</h3>
<div>
    <table class="table table-striped">
        <thead>
                <tr>
                    <th>Patient ID</th>
                    <th>Patient FirstName</th>
                    <th>Patient LastName</th>
                </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patient of patients | async|paginate: { itemsPerPage: count, currentPage: p }">
                <td>{{patient.id}}</td>
                <td>{{patient.firstName}}</td>
                <td>{{patient.lastName}}</td>
            </tr>
        </tbody>
    </table>
     <!--Including the pagination control.-->
  <div class="text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
<button class = "btn btn-primary active" (click)="btnClick()">Back</button>
 